.search-result-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.search-back-btn {
    width: 200px;
}

@media (max-width: 640px) {
    .search-result-grid {
        grid-template-columns: 1fr;
    }

    .search-back-btn {
        width: 100%;
    }
}
